---
import '@styles/elements/forms/_input.scss';

const {
    fieldType = 'text',
    fieldName,
    fieldValue = '',
    fieldPattern = '',
    required = false,
    labelText = '',
    errorMessage = '',
    minLength = 0,
    maxLength = 0,
    gridClasses = '',
    additionalClasses = '',
    ariaLabel = null
} = Astro.props;

const dataValidation = required || errorMessage?.length > 0 ? 'data-validation-required' : '';

const dynamicAttributes = {
    ...(labelText ? {} : (ariaLabel && { 'aria-label': ariaLabel })),
    ...(minLength > 0 && { minlength: minLength }),
    ...(maxLength > 0 && { maxlength: maxLength }),
    ...(fieldPattern && { pattern: fieldPattern }),
    ...(dataValidation && { [dataValidation]: '' })
};
---

<div class={`form-input ${additionalClasses} ${gridClasses}`.trim()}>
    <label>
        <input
            type={fieldType}
            name={fieldName}
            value={fieldValue}
            { ...dynamicAttributes }
        />

        {labelText?.length > 0 && (
            <span>
                <Fragment set:html={labelText}/>
            </span>
        )}

        {errorMessage?.length > 0 && (
            <small>
                {errorMessage}
            </small>
        )}
    </label>
</div>
