---
import '@styles/elements/forms/_checkbox.scss';

const {
    fieldName,
    fieldValue = '',
    required = false,
    labelText = '',
    errorMessage = '',
    gridClasses = '',
    additionalClasses = '',
    ariaLabel = null
} = Astro.props;

const dataValidation = required || errorMessage?.length > 0 ? 'data-validation-required' : '';

const dynamicAttributes = {
    ...(labelText ? {} : (ariaLabel && { 'aria-label': ariaLabel })),
    ...(dataValidation && { [dataValidation]: '' })
};
---

<div class={`form-checkbox ${additionalClasses} ${gridClasses}`}>
    <label>
        <input
            type="checkbox"
            name={fieldName}
            value={fieldValue}
            { ...dynamicAttributes }
        />

        {labelText?.length > 0 && (
            <span>
                <Fragment set:html={labelText}/>
            </span>
        )}

        {errorMessage?.length > 0 && (
            <small>
                {errorMessage}
            </small>
        )}
    </label>
</div>
