---
import 'tom-select/dist/css/tom-select.css';
import '@styles/elements/forms/_select.scss';

const {
    fieldName,
    maxSelectable = 1,
    required = false,
    labelText = '',
    errorMessage = '',
    redirectToValue = '',
    gridClasses = '',
    additionalClasses = '',
    ariaLabel = null
} = Astro.props;

const dataValidation = required || errorMessage?.length > 0 ? 'data-validation-required' : '';

const dynamicAttributes = {
    ...(labelText ? {} : (ariaLabel && { 'aria-label': ariaLabel })),
    ...(dataValidation && { [dataValidation]: '' }),
    ...(redirectToValue && { 'data-redirect-to-value': redirectToValue })
};
---

<div 
    class={`form-select ${additionalClasses} ${gridClasses}`.trim()}
    data-js="form-select"
    data-select-max-selectable={maxSelectable}
>
    <label>
        <select 
            name={fieldName}
            autocomplete="off"
            { ...dynamicAttributes }
        >
            <slot />
        </select>

        {labelText?.length > 0 && (
            <span>
                <Fragment set:html={labelText}/>
            </span>
        )}

        {errorMessage?.length > 0 && (
            <small>
                {errorMessage}
            </small>
        )}
    </label>
</div>

<script>
    import {formSelect} from "@scripts/ui/form-select";

    formSelect.init();
</script>
