---
import '@styles/components/ui/_offcanvas.scss';
import Button from '@components/ui/Button.astro';

const {
    offcanvasId = '',
    title = '',
    orientation = 'right',
    ariaLabel = null,
    additionalClasses = ''
} = Astro.props;

const hasDescriptionSlot = Boolean(Astro.slots['offcanvas-description']);
const hasHeaderSlot = Boolean(Astro.slots['offcanvas-header']);
const hasTitle = Boolean(title);

const dynamicAriaAttributes = {
    ...(ariaLabel ? { 'aria-label': ariaLabel } : {}),
    ...(hasTitle || hasHeaderSlot ? { 'aria-labelledby': `offcanvas-title-${offcanvasId}` } : {}),
    ...(hasDescriptionSlot ? { 'aria-describedby': `offcanvas-description-${offcanvasId}` } : {})
};
---

<div
    class={`offcanvas offcanvas--${orientation} offcanvas--id-${offcanvasId} ${additionalClasses}`}
    data-js="offcanvas"
    data-offcanvas-id={offcanvasId}
    role="dialog"
    { ...dynamicAriaAttributes }
>
    <div class="offcanvas__wrapper" data-offcanvas-wrapper>
        <div class="offcanvas__header">
            {hasTitle &&
                <h2 id={`offcanvas-title-${offcanvasId}`}>
                    {title}
                </h2>
            }

            <slot name="offcanvas-header"/>

            <Button 
                additionalClasses="button--close"
                closeOffcanvas
                ariaLabel="Offcanvas schließen"
            />
        </div>

        <div class="offcanvas__content" id={`offcanvas-description-${offcanvasId}`} data-offcanvas-body>
            <slot name="offcanvas-description"/>
            
            <slot/>
        </div>
    </div>
</div>

<script>
    import { offcanvas } from '@scripts/ui/offcanvas';

    offcanvas.init();
</script>
